@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 4rem;

    --primary:           #2F3E46;
    /* --primary-content:   #c6cdf0; */
    --secondary:         #354F52;
    /* --secondary-content: #e7edff; */
    --accent:            #52796F;
    /* --accent-content:    #e6d4fb; */
    --neutral:           #84A98C;
    /* --neutral-content:   #d5cfde; */
    --base:              #CAD2C5;
    /* --base-content:      #313031; */
    --info:              #0093ff;
    /* --info-content:      #ffffff; */
    --success:           #00b885;
    /* --success-content:   #ffffff; */
    --warning:           #ffa700;
    /* --warning-content:   #ffffff; */
    --error:             #f4002d;
    /* --error-content:     #ffffff; */
  }
}

* {
  margin: 0;
  padding: 0;
  appearance: 0;
  text-decoration: none;
  box-sizing: border-box;
}